.footer_content {
    width: 100%;
    height: 20em;
    margin-top: 10em;
    display: grid;
    justify-items: center;
    box-shadow: 0px 12px 60px -6px rgba(0, 0, 0, 0.61);

    .footer_info {
        margin: 0;
        width: 90%;
        height: 15em;
        display: grid;
        border-bottom: 1px solid rgba(0, 0, 0, 0.211);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .footer_Logo {
            width: 8em;
            height: 8em;
        }

        ul {
            list-style: none;
            padding: 0 1em;
        }

        .footer_ul {
            margin-top: 1.5em;
        }

        li {
            font-family: $font_secondary;
            font-size: $font_size_primary;
            font-weight: 100;
            margin-bottom: 1em;
        }

        .footer_line {
            height: 10em;
            border-right: 1px solid rgba(0, 0, 0, 0.211);
        }

        .footer_text {
            margin-top: .5em;
            font-family: $font_secondary;
            font-size: $font_size_primary;
            font-weight: 100;
        }

        .footer_imgs {
            margin-top: 1.5em;
            padding: 0 1em;
        }

        .footer_logs {
            display: flex;
            margin-top: 3em;
            justify-content: space-around;

            .footer_secur {
                width: 3em;
                height: 4em;
            }

            img {
                vertical-align: middle;
            }

            h2 {
                font-family: $font_secondary;
                font-size: $font_size_primary;
                font-weight: 100;
            }
        }

        .footer_redes {
            display: flex;
            margin-top: 1.5em;
            font-family: $font_secondary;
            font-size: 10px;
            font-weight: lighter;
            padding: 0 0 0 1em;
        }

        .footer_red {
            margin-top: .8em;
            margin-left: 1em;
            width: 2.5em;
            height: 2.5em;
        }
    }

    .footer_copyr {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .footer_lef {
            display: flex;
            justify-content: left;
        }

        .footer_rig {
            display: flex;
            justify-content: right;
            height: 2em;
        }
    }
}