@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,300;1,500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$font_Primary: 'Roboto', sans-serif;
$font_secondary: 'Fredoka One', cursive;
$main_color: #f8f8fa;
$text_primary_color: #ffffff;
$text_secondary_color: black;
$font_size_primary: 15px;
$font_size_secondary: 30px;
$font_size_hover: 20px;
$font_size_variant: 50px;
$font_size_hover_variant: 60px;